<div class="top-after-login">
  <div class="top-after-logincard">
    <div class="card">
      <div class="d-grid gap-4 col-12 col-md-10 mx-auto">
        <button class="btn top-main-btn-after-login btn-xl fw-bold rounded-pill"
                data-controller="create-plan-trigger"
                data-action="click->create-plan-trigger#create">
          <i class="fa-solid fa-map-location-dot me-2"></i>
          プランを作成
        </button>

        <%= link_to plans_my_plans_path, class: 'btn top-main-btn-after-login btn-xl fw-bold rounded-pill' do %>
          <i class="fa-solid fa-globe me-2"></i> 作ったドライブプラン
        <% end %>
      </div>
    </div>
  </div>
</div>