<h1>Dashboard#top</h1>
<%= current_user.name  %>
<p>Find me in app/views/dashboard/top.html.erb</p>

<div class="text-center mt-4">
  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
</div>
