<div class="top-after-login">
  <h2>次の休日、どこ行く？</h2>

  <div class="card mb- mt-4">
    <div class="d-grid gap-4 col-12 col-md-10 mx-auto">
      <%= link_to raw('→ ドライブプランを作る'), authenticated_root_path, class: 'btn btn-brand btn-xl fw-bold rounded-pill' %>
      <%= link_to raw('→ みんなのドライブプランを見る'), authenticated_root_path, class: 'btn btn-brand btn-xl fw-bold rounded-pill' %>
    </div>
  </div>
</div>