<% if user_signed_in? %>
  <p><%= current_user.name %>さん、ようこそ！</p>
<% else %>
  <p>ログインしていません</p>
<% end %>

<h1>DriviPeekへようこそ</h1>
<p>DrivePeekは</p>
<p>行きたい場所がすぐに見つかる</p>
<p>ドライブプランアプリです</p>

<div class="text-center mt-4">
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
  <% else %>
    <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary' %>
  <% end %>
</div>