/* ==========================================
     pages/_top_user.scss
     ログイン後トップページ
========================================== */

.top-after-login {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-image: url(top_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .top-after-logincard {
    background-color: rgba(75, 101, 66, 0.806);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 2rem;
    padding: 3rem 2rem;
    max-width: 700px;
    width: 90%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  }

  h1 {
    margin-top: 16px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    text-shadow:
      0 2px 4px rgba(0, 0, 0, 0.6),
      0 0 10px rgba(0, 0, 0, 0.3);
  }

  .card {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0;
    border: none !important;
  }

  .btn-xl {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 0.75rem;
  }

  .top-main-btn-after-login {
    background-color: #ffffff;
    color: var(--personal);
    font-weight: bold;
    font-size: 1.5rem;
    border: 5px solid #ffffff;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 1.5rem 2rem;
    text-shadow: none;
    box-shadow: 0 8px 24px #00000013;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--personal);
      color: #fffffff1;
      border-color: #fffffff1;
      transform: translateY(-2px);
    }
  }
}
