/* ==========================================
     layouts/_footer.scss
     フッター用（必要なら使用）
========================================== */
/* フッターを非表示にするためのbodyクラス */
body.no-footer footer.footer {
  display: none !important;
}