/* ==========================================
     base/_variables.scss
     CSS & SCSS共通変数定義
========================================== */

:root {
  --gray-bg: #f8f9fa;
  --personal: #506d53;       // プラン（緑系）
  --community: #007AFF;      // みんなの旅（青系）
}


// ----------------------------------
// カラーベース変数（SCSS）
// ----------------------------------
$base-color: #5da764;
$navbar-bg: #506d53;
$hamburger-bg: #506d53; // ハンバーガー用（少し濃い）