<div class="goal-point-block">
  <!-- 上部ブロック（常に表示） -->
  <div class="goal-point-main">
    <div class="goal-label">
      <span class="icon">G</span>
      <span class="address">〇〇県〇〇市〇〇町57-666</span>
    </div>
    <div class="goal-time">
      <%= time_field_tag :departure_time, "10:00", class: "arrival-time", step: 900 %>
      <span class="label">発</span>
    </div>
  </div>
</div>