<li class="page-item page-item--nav">
  <%= link_to url, class: 'page-link', data: { turbo_frame: 'community_plans' }, aria: { label: '最初のページ' } do %>
    <i class="bi bi-chevron-double-left" aria-hidden="true"></i>
  <% end %>
</li>
