
// ----------------------------------
//  ロゴ
// ----------------------------------
.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;

  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.95;

  a {
    text-decoration: none !important;
    display: flex;
    align-items: center;

    background-color: color-mix(in srgb, var(--personal) 50%, transparent);
    padding: 8px 8px 8px 4px;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color-mix(in srgb, var(--personal) 70%, transparent);
    }
  }

  &__image {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  &__text {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-decoration: none !important;
    line-height: 1;
  }
}

