/* ==========================================
     地図上の検索ボックス
========================================== */
.map-search-box {
    position: absolute;
    top: 10px; /* 上からの余白 */
    left: calc(50% + 120px); /* ナビバー幅370pxの半分を右にずらす */
    transform: translateX(-50%);
    z-index: 10;
    width: 600px;

  input.form-control {
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    border: 1px solid #9a9a9a;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}