<p><%= @email %> 様</p>

<p>DrivePeekをご利用いただきありがとうございます。</p>

<p>以下のリンクをクリックして、メールアドレスを確認してください。</p>

<p><%= link_to 'メールアドレスを確認する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>このメールに心当たりがない場合は、無視してください。</p>

<p>---<br>DrivePeek</p>
