<div class="tab-content tab-community" data-navibar-target="content">
  <%= render "plans/community_tab" %>
</div>

<div class="tab-content tab-plan active"
     data-navibar-target="content"
     id="plan_tab_content">
  <%= render "plans/plan_tab", plan: plan %>
</div>

<div class="tab-content tab-ai" data-navibar-target="content">
  <%= render "plans/ai_tab" %>
</div>