<div class="tab-content tab-community" data-ui--navibar-tab-target="content">
  <%= render "plans/community_tab" %>
</div>

<div class="tab-content tab-plan active"
     data-ui--navibar-tab-target="content"
     id="plan_tab_content">
  <%= render "plans/plan_tab", plan: plan %>
</div>

<div class="tab-content tab-suggestion" data-ui--navibar-tab-target="content">
  <%= render "suggestions/tab", plan: plan %>
</div>