<div class="tab-content tab-community" data-navibar-target="content">
  <%= render "plans/community_block" %>
</div>

<div class="tab-content tab-plan active"
     data-navibar-target="content">
  <%= render "plans/plan_block", plan: plan %>
</div>

<div class="tab-content tab-ai" data-navibar-target="content">
  <%= render "plans/ai_suggestion_block" %>
</div>