<div class="plan-entry" data-controller="plan-tab--entry" data-plan-tab--entry-has-plan-value="<%= @latest_plan.present? %>">
  <%# 既存プランがある場合: モーダル表示 %>
  <% if @latest_plan %>
    <div class="plan-entry-modal" data-plan-tab--entry-target="modal">
      <div class="plan-entry-modal__overlay"></div>
      <div class="plan-entry-modal__dialog">
        <h2 class="plan-entry-modal__title">プランを作成しますか？</h2>

        <div class="plan-entry-modal__latest">
          <div class="plan-entry-modal__latest-icon">
            <i class="fa-solid fa-file-lines"></i>
          </div>
          <div class="plan-entry-modal__latest-info">
            <p class="plan-entry-modal__latest-label">前回のプラン</p>
            <p class="plan-entry-modal__latest-title"><%= plan_title(@latest_plan) %></p>
            <p class="plan-entry-modal__latest-date"><%= format_datetime(@latest_plan.updated_at) %> 更新</p>
          </div>
        </div>

        <div class="plan-entry-modal__actions">
          <button type="button"
                  class="btn plan-entry-modal__btn plan-entry-modal__btn--new"
                  data-controller="ui--create-plan-trigger"
                  data-action="click->ui--create-plan-trigger#create">
            <i class="fa-solid fa-plus me-2"></i>新規作成
          </button>
          <%= link_to edit_plan_path(@latest_plan), class: "btn plan-entry-modal__btn plan-entry-modal__btn--continue" do %>
            <i class="fa-solid fa-arrow-right me-2"></i>続きから
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%# 既存プランがない場合: 自動でプラン作成を開始（非表示ボタンを自動クリック） %>
  <div class="plan-entry-loading" data-plan-tab--entry-target="loading">
    <div class="plan-entry-loading__spinner">
      <i class="fa-solid fa-spinner fa-spin fa-2x"></i>
    </div>
    <p class="plan-entry-loading__text">プランを準備しています...</p>
  </div>

  <%# 自動発火用の非表示ボタン %>
  <button type="button"
          class="d-none"
          data-plan-tab--entry-target="autoTrigger"
          data-controller="ui--create-plan-trigger"
          data-action="click->ui--create-plan-trigger#create">
  </button>
</div>
